<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="log.dir" value="${x.logger.dir}"></property>
	<property name="logger.level" value="${x.logger.level}"></property>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
	    <filter class="ch.qos.logback.classic.filter.LevelFilter">
	        <level>DEBUG</level>
	        <onMatch>ACCEPT</onMatch>
	        <onMismatch>DENY</onMismatch>
	    </filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/faceye-code-log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/faceye-code-log.%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]
				%-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<!-- 
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		 -->
	</appender>

	<appender name="info-rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/faceye-code-info-log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/faceye-code-info-log.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>


	<appender name="debug-rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/faceye-code-debug-log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/faceye-code-debug-log.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<logger name="debug-rollingFile" additivity="false" level="DEBUG">
		<appender-ref ref="debug-rollingFile" />
	</logger>


	<appender name="error-rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/faceye-code-error-log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/faceye-code-error-log.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}
				-%msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>



	<appender name="warn-rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/faceye-code-warn-log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/faceye-code-warn-log.%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>


	<!-- project default level -->
	<logger name="com.faceye" level="DEBUG" />


	<logger name="error-rollingFile" level="ERROR" additivity="false">
		<appender-ref ref="error-rollingFile" />
	</logger>
	<logger name="debug-rollingFile" level="DEBUG" additivity="false">
		<appender-ref ref="debug-rollingFile" />
	</logger>
	<logger name="warn-rollingFile" level="warn" additivity="false">
		<appender-ref ref="warn-rollingFile" />
	</logger>
	<logger name="info-rollingFile" level="INFO" additivity="false">
		<appender-ref ref="info-rollingFile" />
	</logger>
	<logger name="org" level="error"></logger>

	<root level="${x.logger.level}">
		<appender-ref ref="console" />
		<appender-ref ref="error-rollingFile" />
		<appender-ref ref="info-rollingFile" />
		<appender-ref ref="debug-rollingFile" />
		<appender-ref ref="warn-rollingFile" />
		<appender-ref ref="rollingFile"></appender-ref>
	</root>
</configuration>
